.fieldSort {
  .sortTitle {
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 12px;
  }

  .sortAction {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .sortBtn {
      width: 80px;
      margin: 8px 8px 0 0;
      padding: 0 8px;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
    }
  }
}
